<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>La Capital – Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div id="login-container">
    <div class="login-box">
      <img src="{% static 'img/capitallogo.jpg' %}" alt="La Capital Logo" class="logo-login">
      <h2>Iniciar Sesión</h2>
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        
        {% if error %}
          <p class="error-text">{{ error }}</p>
        {% endif %}
        
        <button type="submit">Ingresar</button>
      </form>


      <p id="error-login" class="error"></p>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
