{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>La Capital – Admin</title>
  <!-- CSS desde static/ -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div id="panel">
    <header>
      <div class="center">LA CAPITAL</div>
      <a id="cerrarSesionBtn" href="index.html" class="link-button">Cerrar Sesión</a>
    </header>

    <section class="agregar">
      <a id="agregarBtn" href="formulario.html" class="card-button">
        + Agregar Hamburguesa
      </a>
    </section>

    <section id="lista-hamburguesas"></section>
  </div>

  <!-- JS desde static/ -->
  <script src="{% static 'js/panel.js' %}" defer></script>
</body>
</html>
